*{
    margin: 0px;
}

.home{
    background-color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/portfolio/src/puntitos.png);
    /*padding-bottom: 20px;*/
}
@media(min-width: 769px){
    .home{
        height: 100vh;
    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    padding: 20px;
    
}
.logo{
    width: 70px;
    height: 70px;
    
    margin-left: 20px;
    margin-right: auto;
}
.header__main-button{
    margin-left: auto;
    margin-right: 10px;
    background-image: url(/portfolio/src/iconoOptions.png);
    background-size: contain; /* Para que la imagen se ajuste dentro del botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left center; 
    background-color: white;
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    cursor: pointer;
}

.header__options-button{
    display: none;
}
@media(min-width: 769px){
    .header__main-button{
        display: none;
    }
    .header__options-button{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-right: 25px;
    }
    .header__buttons{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: transparent;


    }
    
}

.home__welcome{
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(min-width: 769px){
    .home__welcome{
        flex-direction:row;
    }
}

.home__welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(min-width: 769px){
    .home__welcome-text{
    align-items: flex-start;
    margin-left: 80px;
    margin-right: auto;
    margin-bottom: 150px;
    }
}



h1{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
#h1_up{
    margin-top: 110px;
}

#me-photo{
    max-width: 80%;
    height: auto;
    margin-bottom: 0px;
    margin-top: auto;
    max-height: 100%;
}



@media (max-width: 768px) {
    #me-photo {
        max-width: 100%; /* La imagen se adapta al ancho del contenedor */
        max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
        object-fit: contain; /* Mantiene las proporciones de la imagen */
        margin: 0 auto; /* Centra la imagen horizontalmente */
        display: block; /* Asegura que la imagen respete las reglas de maquetación */
    }
    
    .home__welcome {
        overflow: hidden; /* Evita que los elementos desborden la sección */
    }
}


/*ABOUT ME*/
.about-me{
    background-color: black;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 769px){
    .about-me{
        flex-direction:row;
    }
}

#img__verify{
    order: 2;
    width: 90px;
    height: 90px;
    margin: 80px;
}

@media(min-width: 769px){
    #img__verify{
        order: 1;
        width: 170px;
        height: 170px;  
    }

}
.home__container-texts{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 769px){
    .home__container-texts{
        width: 35%;
        align-items: flex-start;
    }
}

h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    margin: 50px;
}


#h2__about-me{
    color: white;
}

@media(min-width: 769px){
    #h2__about-me{
        margin-bottom: 25px;
    }
}
.text_about-me{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

/*Services*/

#h2__services{
    color: black;
}
