*{
    margin: 0px;
}

.home{
    background-color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/portfolio/src/puntitos.png);
    /*padding-bottom: 20px;*/
}
@media(min-width: 769px){
    .home{
        height: 100vh;
    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    padding: 20px;
    
}
.logo{
    width: 70px;
    height: 70px;
    
    margin-left: 20px;
    margin-right: auto;
}
.header__main-button{
    margin-left: auto;
    margin-right: 10px;
    background-image: url(/portfolio/src/iconoOptions.png);
    background-size: contain; /* Para que la imagen se ajuste dentro del botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left center; 
    background-color: white;
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    cursor: pointer;
}

.header__options-button{
    display: none;
}
@media(min-width: 769px){
    .header__main-button{
        display: none;
    }
    .header__options-button{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-right: 25px;
    }
    .header__buttons{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: transparent;


    }
    
}

.home__welcome{
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(min-width: 769px){
    .home__welcome{
        flex-direction:row;
    }
}

.home__welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(min-width: 769px){
    .home__welcome-text{
    align-items: flex-start;
    margin-left: 80px;
    margin-right: auto;
    margin-bottom: 150px;
    }
}



h1{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}
#h1_up{
    margin-top: 110px;
}

#me-photo{
    max-width: 80%;
    height: auto;
    margin-bottom: 0px;
    margin-top: auto;
    max-height: 100%;
}

@media(min-width: 769px){
    #me-photo{
        max-width: 45%;
        height: auto;
        max-height: 85%;
        margin-right: 80px;
        margin-left: auto;
    }
}